layout: index
description: Wslink - rpc and pub/sub over websockets
subtitle: Wslink - JavaScript linked with Python using websockets
cmd: npm install wslink; pip install wslink
comments: false
---

ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cloud-download
      h3.intro-feature-title
        a(href="https://www.npmjs.com/package/wslink").link Releases
        img(style="padding-left: 25px",src="https://badge.fury.io/js/wslink.svg")
      p.intro-feature-desc Wslink client is available via #[a(href="https://www.npmjs.com/package/wslink") npm] and should be used via Webpack or Browserify within your project using standard ES6 import syntax for embedded usage. Wslink server is available via #[a(href="https://pypi.python.org/pypi/wslink") pypi] and can be installed using pip.

  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
          i.fa.fa-life-ring
      h3.intro-feature-title
        a(href="http://www.kitware.com/products/support.html").link Support and Services
      p.intro-feature-desc Kitware offers advanced software R&D solutions and services. Find out how we can help with your next project.
