{
    "configuration": {
        "host" : "localhost",
        "port" : 8080,
        "endpoint": "paraview",
        "content": "client/www",
        "proxy_file" : "./logs/proxy-mapping.txt",
        "sessionURL" : "ws://${host}:${port}/ws",
        "secret": "vtkweb-secret",
        "timeout" : 25,
        "log_dir" : "logs/",
        "upload_dir" : "c:/akit/data",
        "fields" : ["file", "host", "port", "updir"]
    },

    "sessionData" : { "updir": "/Home" },

    "resources" : [ { "host" : "localhost", "port_range" : [9001, 9003] } ],

    "properties" : {
        "wslink_path": "c:/akit/wslink",
        "dataDir": "/.../path/to/data/directory"
    },

    "apps" : {
        "simple" : {
            "cmd" : [
                "python", "${wslink_path}/examples/simple.py", "--port", "$port", "--debug" ],
            "ready_line" : "Starting factory"
        }
    }
}
