{
    "configuration": {
        "host" : "0.0.0.0",
        "port" : 8080,
        "endpoint": "paraview",
        "content": "www",
        "proxy_file" : "/tmp/proxy-mapping.txt",
        "sessionURL" : "ws://USE_HOSTNAME:${port}/ws",
        "timeout" : 25,
        "log_dir" : "/tmp",
        "fields" : []
    },

    "resources" : [ { "host" : "0.0.0.0", "port_range" : [9001, 9010] } ],
    "properties": {},
    "apps" : {
        "simple" : {
            "cmd" : [
                "python", "server/simple.py", "--port", "$port", "--host", "$host", "--authKey", "$secret" ],
            "ready_line" : "Starting factory"
        }
    }
}
